#container {
  padding: 4.75rem 2.1875rem 9.5625rem 2.1875rem;
  max-width: 73rem;
  margin: auto;
}
  #logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 0.6875rem;
    height: 2.125rem;
    /* transform: translateX(-0.875rem); */

    & span {
      color: var(--content-primary);
      font: 800 1.5rem var(--ff-display);
    }
  }


  .logo {
    display: inline-block;
    transition: transform 0.5s ease-in-out;
    
  }
    .logo:hover {
      transform: rotate(180deg);
    }

@media (max-width: 40rem) {
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & #logo {
      transform: none;
    }
  }
}